@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.UmbPropertyOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "umbLayout.cshtml";
}

<div id="main-wrapper">
    <div id="main">
        <div class="container">
            @Umbraco.RenderMacro("ezSearch", new {rootContentNodeId = "0", rootMediaNodeId = "", indexType = "BOTH", searchFields = "regionID, price, availability, propertyBedrooms, images", previewFields = "pageTitle, images, availability", previewLength = "", pageSize = "9", hideFromSearchField = "", searchFormLocation = "TOP"})
        </div>
    </div>
</div>