@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
@{ Html.RenderPartial("umbHomepageBanner"); }
<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbFeatures"); }
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @*{   Html.RenderPartial("umbNewsOverviewWidget"); }*@
				@Umbraco.RenderMacro("ezSearch", new {rootContentNodeId="1097", rootMediaNodeId="", indexType="BOTH", searchFields="title, bodyText", previewFields="images,bodyText", previewLength="150", pageSize="7", hideFromSearchField="", searchFormLocation="TOP"})
            </div>
        </div>
    </div>
</div>
<!-- /Main -->
