@inherits UmbracoTemplatePage

<!-- About -->
<div class="8u 12u(mobile) col-xs-12 col-sm-10 col-md-8 text-center">
    <h2 class="major"><span>@Umbraco.Field("aboutTitle", recursive: true)</span></h2>
    @Umbraco.Field("aboutText", recursive: true)
</div>
<!-- /About -->